<!-- SIDEBAR -->
        <aside class="sidebar">

            <div class="sidebar-header">

                <img src="assets/png/tasty-logo.png" alt="Tasty Flavors" class="sidebar-logo">

                <span class="restaurant-name">tasty</span>

            </div>

            <nav class="sidebar-menu">

                <a href="index.html" class="menu-item">
                    <i data-lucide="house"></i>
                    <span>Início</span>
                </a>

                <div class="menu-section-title">
                    Desempenho e vendas
                </div>

                <a href="#" class="menu-item">
                    <i data-lucide="chart-column"></i>
                    <span>Desempenho</span>
                </a>

                <a href="#" class="menu-item">
                    <i data-lucide="clipboard-list"></i>
                    <span>Pedidos</span>
                </a>

                <a href="#" class="menu-item">
                    <i data-lucide="dollar-sign"></i>
                    <span>Financeiro</span>
                </a>

                <a href="#" class="menu-item">
                    <i data-lucide="star"></i>
                    <span>Avaliações</span>
                </a>

                <a href="#" class="menu-item">
                    <i data-lucide="diamond"></i>
                    <span>Premium</span>
                </a>

                <div class="menu-section-title">
                    Marketing
                </div>

                <a href="#" class="menu-item">
                    <i data-lucide="users-round"></i>
                    <span>Seus Clientes</span>
                </a>

                <a href="#" class="menu-item">
                    <i data-lucide="badge-percent"></i>
                    <span>Promoções</span>
                </a>

                <a href="#" class="menu-item">
                    <i data-lucide="megaphone"></i>
                    <span>Anúncios</span>
                </a>

                <a href="#" class="menu-item">
                    <i data-lucide="list-filter"></i>
                    <span>Feed</span>
                </a>

                <a href="#" class="menu-item">
                    <i data-lucide="handshake"></i>
                    <span>Parcerias</span>
                </a>

                <div class="menu-section-title">
                    Configurações da Loja
                </div>

                <a href="#" class="menu-item">
                    <i data-lucide="clipboard-list"></i>
                    <span>Cardápios</span>
                </a>

                <a href="#" class="menu-item">
                    <i data-lucide="accessibility"></i>
                    <span>Acessibilidade</span>
                </a>

                <a href="privacidade-seguranca.html" class="menu-item">
                    <i data-lucide="shield-check"></i>
                    <span>Privacidade e segurança</span>
                </a>

                <a href="dados-da-loja.html" class="menu-item active">
                    <i data-lucide="settings"></i>
                    <span>Dados da Loja</span>
                </a>

                <a href="login.html" class="menu-item" id="btnLogout">
                    <i data-lucide="log-out"></i>
                    <span>Sair</span>
                </a>

            </nav>

        </aside>